<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
    <title>BSB</title>
</head>

<body>
    <main>
        <header>
            <nav>
                <div class="container">
                    <div class="logo">
                        <img src="./img/logo.png" alt="logo" />
                    </div>
                    <div class="links">
                        <ul>
                            <li><a href="#intro" class="active">Beranda</a></li>
                            <li><a href="#howto">Tata Cara</a></li>
                            <li><a href="#service">Layanan</a></li>
                            <li><a href="#about">Tentang</a></li>
                        </ul>
                    </div>
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                    </div>
                </div>
            </nav>
        </header>
        <section class="intro" id="intro">
            <div class="overlay overlay-lg">
                <img src="./img/shape/square.png" class="shape square" alt="decoration">
                <img src="./img/shape/circle.png" class="shape circle" alt="decoration">
                <img src="./img/shape/half-circle.png" class="shape half-circle1" alt="decoration">
                <img src="./img/shape/half-circle.png" class="shape half-circle2" alt="decoration">
                <img src="./img/shape/x.png" class="shape xshape" alt="decoration">
                <img src="./img/shape/wave.png" class="shape wave wave1" alt="decoration">
                <img src="./img/shape/wave.png" class="shape wave wave2" alt="decoration">
                <img src="./img/shape/triangle.png" class="shape triangle" alt="decoration">
                <img src="./img/shape/points1.png" class="points point1" alt="decoration">
            </div>
            <div class="container grid-2">
                <div class="column-1">
                    <h1 class="intro-title">Bantuan Siswa Berprestasi</h1>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facere officia
                        aliquam.</p>
                    <a href="#" class="btn">Jelajahi</a>
                </div>
                <div class="column-2 image">
                    <img src="./img/intro-image-3.png" alt="intro" class="image-element z-index">
                </div>
            </div>
        </section>
        <section class="howto section" id="howto">
            <div class="container">
                <div class="section-header">
                    <h3 class="title" data-title="Langkah-langkah">Tata Cara</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aperiam aspernatur
                        ducimus laborum vero pariatur.</p>
                </div>
                <div class="cards">
                    <div class="card-wrap">
                        <img src="./img/shape/points3.png" class="points point1 points-sq" alt="decoration">
                        <div class="card" data-card="Search">
                            <div class="card-content">
                                <img src="./img/search.png" class="icon" alt="icon">
                                <h3 class="title-sm">Cari</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
                                    reprehenderit?</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap">
                        <div class="card" data-card="Found">
                            <div class="card-content">
                                <img src="./img/found.png" class="icon" alt="icon">
                                <h3 class="title-sm">Temukan</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
                                    aperiam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap">
                        <img src="./img/shape/points3.png" class="points point2 points-sq" alt="decoration">
                        <div class="card" data-card="Meet">
                            <div class="card-content">
                                <img src="./img/support.png" class="icon" alt="icon">
                                <h3 class="title-sm">Bantu</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
                                    delectus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#3d9bd4" fill-opacity="1"
                    d="M0,64L48,96C96,128,192,192,288,197.3C384,203,480,149,576,138.7C672,128,768,160,864,154.7C960,149,1056,107,1152,112C1248,117,1344,171,1392,197.3L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
            </svg>
        </section>
        <section class="service section" id="service">
            <div class="background-bg"></div>
            <div class="container">
                <div class="section-header">
                    <h3 class="title" data-title="Temukan">Anak Berprestasi</h3>
                </div>
                <div class="section-body">
                    <div class="filter">
                        <button class="filter-btn active" data-filter="*">All</button>
                        <button class="filter-btn" data-filter=".six-nine">6 - 9 Tahun</button>
                        <button class="filter-btn" data-filter=".ten-thirdteen">10 - 13 Tahun</button>
                        <button class="filter-btn" data-filter=".fouteen-seventeen">14 - 17 Tahun</button>
                    </div>
                    <div class="grid">
                        <div class="grid-item ten-thirdteen">
                            <div class="gallery-image">
                                <div class="img-decor">
                                    <div class="img-box">
                                        <img src="./img/dummy/child-1.jpg" alt="child-1">
                                    </div>
                                </div>
                                <div class="image-content">
                                    <i class="fas fa-child"></i>
                                    <div class="content-text">
                                        <h3>Jin Wang</h3>
                                        <p class="text">13 Tahun</p>
                                    </div>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item fourteen-seventeen">
                            <div class="gallery-image">
                                <div class="img-decor">
                                    <div class="img-box">
                                        <img src="./img/dummy/child-2.jpg" alt="child-2">
                                    </div>
                                </div>
                                <div class="image-content">
                                    <i class="fas fa-child"></i>
                                    <div class="content-text">
                                        <h3>Alejandro Gomez</h3>
                                        <p class="text">15 Tahun</p>
                                    </div>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item six-nine">
                            <div class="gallery-image">
                                <div class="img-decor">
                                    <div class="img-box">
                                        <img src="./img/dummy/child-3.jpg" alt="child-3">
                                    </div>
                                </div>
                                <div class="image-content">
                                    <i class="fas fa-child"></i>
                                    <div class="content-text">
                                        <h3>Christoper Gun</h3>
                                        <p class="text">9 Tahun</p>
                                    </div>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item ten-thirdteen">
                            <div class="gallery-image">
                                <div class="img-decor">
                                    <div class="img-box">
                                        <img src="./img/dummy/child-4.jpg" alt="child-4">
                                    </div>
                                </div>
                                <div class="image-content">
                                    <i class="fas fa-child"></i>
                                    <div class="content-text">
                                        <h3>Mikaela Ludwig</h3>
                                        <p class="text">10 Tahun</p>
                                    </div>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item fourteen-seventeen">
                            <div class="gallery-image">
                                <div class="img-decor">
                                    <div class="img-box">
                                        <img src="./img/dummy/child-5.jpg" alt="child-5">
                                    </div>
                                </div>
                                <div class="image-content">
                                    <i class="fas fa-child"></i>
                                    <div class="content-text">
                                        <h3>Lori Andreas</h3>
                                        <p class="text">17 Tahun</p>
                                    </div>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item ten-thirdteen">
                            <div class="gallery-image">
                                <div class="img-decor">
                                    <div class="img-box">
                                        <img src="./img/dummy/child-6.jpg" alt="child-6">
                                    </div>
                                </div>
                                <div class="image-content">
                                    <i class="fas fa-child"></i>
                                    <div class="content-text">
                                        <h3>Jason Su</h3>
                                        <p class="text">11 Tahun</p>
                                    </div>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about section" id="about">
            <div class="container">
                <div class="section-header">
                    <h3 class="title" data-title="Kenal Lebih Jauh">Tentang Kami</h3>
                </div>
                <div class="section-body grid-2">
                    <div class="column-1">
                        <h3 class="title-sm">Salam hangat dari LBSB</h3>
                        <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias sed
                            consectetur
                            quam perferendis odit accusamus expedita ea et quos rerum dolores recusandae porro
                            facere
                            ipsum voluptatibus laudantium officiis, provident aspernatur.</p>
                        <h3 class="title-sm">Jangkau, dan temui kami</h3>
                        <p class="text">Jl. Kuningan Persada No.Kav. 4, RT.1/RW.6, Guntur, Kecamatan Setiabudi, Kota
                            Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12950</p>
                        <h3 class="title-sm">atau, Hubungi</h3>
                        <p class="text">(+62) 812-2002-3321</p>
                    </div>
                    <div class="column-2 image">
                        <img src="./img/about-no-bg.png" class="z-index" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="grid-4">
                <div class="grid-4-col img">
                    <div class="footer-img">
                        <img src="./img/logo.png" alt="logo">
                    </div>
                </div>
                <div class="grid-4-col footer-links">
                    <h3 class="title-sm">Links</h3>
                    <ul>
                        <li><a href="#intro">Beranda</a></li>
                        <li><a href="#howto">Tata Cara</a></li>
                        <li><a href="#service">Layanan</a></li>
                        <li><a href="#about">Tentang</a></li>
                    </ul>
                </div>
                <div class="grid-4-col footer-links">
                    <h3 class="title-sm">3 Langkah</h3>
                    <ul>
                        <li><a href="#">Cari</a></li>
                        <li><a href="#">Temukan</a></li>
                        <li><a href="#">Bantu</a></li>
                    </ul>
                </div>
                <div class="grid-4-col footer-about">
                    <h3 class="title-sm">About</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptas ipsum
                        atque perferendis deleniti sequi voluptatum, consectetur iure sit quia?</p>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="copyright">
                    <p class="text">Copyright&copy;2021 All rights reserved | <span>Emobodigo</span></p>
                </div>
                <div class="social-wrap">
                    <div class="followme">
                        <h3>Follow Us</h3>
                        <span class="footer-line"></span>
                        <div class="social-media">
                            <a href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <div class="back-btn-wrap">
                        <a href="#" class="back-btn">
                            <i class="fas fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
    <script src="./js/isotope.pkgd.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>